.nav-btn {
  z-index: 11000;
}

.nav-btn__icon-1, .nav-btn__icon-2, .nav-btn__icon-3 {
  width: 40px;
  border: 2px solid black;
}

.nav-btn__icon-1 {
  top: 0;
  right: 0;
}

.nav-btn__icon-2 {
  top: 10px;
  right: 0;
  transition: all 0.2s;
}

.nav-btn__icon-3 {
  top: 20px;
  right: 0;
  transition: all 0.2s;
}

.banner-img{
  width: 15vw;
}

.nav-list__ul {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.nav-list__ul__li> a {
  text-decoration: none;
}

.nav-list__ul__li-text {
  color: #425D48;
  font-size: 1.5vw;
}

.cart-qty-box{
    width: 1.5vw; 
    height: 1.5vw;
    font-size: 1vw;
    border-radius: 50%;
    background: #1E3D26;
}

@media only screen and (max-width: 900px) {
    /* --- nav btn ----  */
    .nav-btn {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        margin: 20px 20px 0 0;
        cursor: pointer;
        width: 42px;
        height: 20px;
    }
    .nav__checkbox:checked + .nav-btn .nav-btn__icon-2 {
        transform: rotate(135deg);
        transform-origin: 50% 50%;
        /* top: 0; */
    }
    .nav__checkbox:checked + .nav-btn .nav-btn__icon-1 {
        display: none;
    }
    .nav__checkbox:checked + .nav-btn .nav-btn__icon-3 {
        transform: rotate(-135deg);
        transform-origin: 50% 50%;
        top: 10px;
    }
    /* ---- nav list ---- */
    .nav-list {
        display: none;
        background-color: white;
    }
    .nav__checkbox:checked ~ .nav-list {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .nav__checkbox:checked ~ .nav-list .nav-list__ul .nav-list__ul__li > .nav-list__ul__li-icon {
        margin: 0;
    }

    .nav__checkbox:checked ~ .nav-list > .nav-list__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: pink; */
        width: 50%;
        height: 150px;
    }
    .nav__checkbox:checked ~ .nav-list > .nav-list__ul > .nav-list__ul__li-section-1,
    .nav__checkbox:checked ~ .nav-list > .nav-list__ul > .nav-list__ul__li-section-2 {
        display: flex;
        justify-content: space-around;
        border-radius: 25px 25px 25px 25px;
        width: 100%;
    }
    .nav__checkbox:checked ~ .nav-list > .nav-list__ul .nav-list__ul__li {
        display: flex;
        justify-content: center;
        border-radius: 25px 25px 25px 25px;
        width: 40px;
        margin: 0;
        padding: 15px;
    }
    .nav__checkbox:checked ~ .nav-list > .nav-list__ul .nav-list__ul__li > .nav-list__ul__li-text {
      display: none;
    }
}

.drop-down-nav-section{
  position: relative;
  top: -2rem;
}
.drop-down-nav{
  align-items: center;
  display: flex;
  background-color: #1E3D26;
  height: 50vh;
  justify-content: center;
  position: relative;
  top: -40vh;
  width: 100vw;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.drop-down__list{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.drop-down__item{
  margin-top: 4rem;
}
.drop-down__link{
  color: white;
  cursor: pointer;
}
.close-btn{
  position: absolute;
  top: 3rem;
  right: 4rem;
  z-index: 1500;
}
.close-btn__icon-1, .close-btn__icon-2{
  height: 2px;
  width: 20px;
  background-color: white;
}
.close-btn__icon-1{
  transform: rotate(45deg)
}
.close-btn__icon-2{
  transform: rotate(135deg)
}
.nav-opening-btn{
  position: absolute;
  bottom: 2rem;
  transition: 1s;
  width: .9rem;
}
.nav-opening-btn__1, .nav-opening-btn__2, .nav-opening-btn__3{
  background-color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.nav-opening-btn__1{
  position: absolute;
  left: -20px
}
.nav-opening-btn__3{
  position: absolute;
  top: 0;
  right: -20px
}
.drop-down-nav__checkbox:checked ~ .drop-down-nav  {
  top: 0;
}
.drop-down-nav__checkbox:checked ~ div > .nav-opening-btn  {
  opacity: 0;
}