.App {
  position: relative;
}

.main-img {
  height: 100vh;
  position: fixed;
}

.left-door-img {
  height: 100vh;
  position: fixed;
}

.right-door-img{
  height: 100vh;
  position: fixed;  
}

.logo-img {
  position: absolute;
  width: 15vw;
  left: 5vw;
  top: 20vh;
}

.nav-img {
  position: fixed;
  right: 5vw;
  top: 20vh;  
}

.content-box {
  width: 24.7vw;
  height: 64.4vh;
  display: block;
  position: absolute;
  left: 37.5vw;
  top: 16vh;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.cart {
  position: fixed;
  right: -30vw;
  top: 5vh;
  z-index: 1000;
}

.show-cart {
  right: 0
}