.App {
  background-image: url(images/main.png), url(images/left-door.png), url(images/right-door.png); 
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.logo-img {
  position: absolute;
  width: 15vw;
  left: 5vw;
  top: 20vh;
}

.nav-img {
  position: fixed;
  right: 5vw;
  top: 20vh;  
}

.content-box {
  top: 15%;
  left: 35%;
  width: 30%;
  height: 80%;
  position: absolute;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.cart {
  position: fixed;
  right: -30vw;
  top: 5vh;
  z-index: 1000;
}

.show-cart {
  right: 0
}