.cart-box{
    height: 72.7vh;
    background: #F4EADC;
    color: #818E7E;
}

.cart-header__col-1{
    flex: 5;
}

.cart-header__col-2{
    flex: 1;
}

.cart-header__col-3{
    flex: 2;
}

.cart-li__col-1{
    flex: 5;
}

.cart-li__col-2{
    flex: 1;
}

.cart-li__col-3{
    flex: 2;
}

.cart-li__img-box{
    height: 30px;
    width: 30px;
    background: lightgray;
}

.cart__checkout-btn{
    background: #173C28;
    border: none;
    height: 40px;
}
