h1 {
	font-size: 1.8em;
	bottom: -0.2em;
}

@media screen and (max-width: 960px) {
  h1 {
    bottom: 0.2em;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    bottom: 0em;
  }
}

@media screen and (max-width: 690px) {
  h1 {
    bottom: -0.3em;
  }
}